body{
    background-color: rgb(199, 199, 199);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.piano__container{
    background-color: black;
    border: outset white 5px;
    box-shadow: inset white 0px 0px 0px 2px;
    width: 1000px;
    height: 400px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: end;
    
}
.keyboard__container{
    border: outset black 5px;
    position: relative;
}