body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.piano__container{
    background-color: black;
    width: 1000px;
    height: 500px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: end;
    
}
.keyboard__container{
    position: relative;
}
.white__keys{
    display: flex;
}
.white__key{
    background-color: white;
    border-radius: 0 0 8px 8px;
    border: solid 1px grey;
    height: 300px;
    width: 75px;
}
.white__key:active{
    box-shadow: inset 0 -10px 20px -10px black,
                inset 0 10px 10px -10px white;
}
.black__key{
    background-color: black;
    border-radius: 0 0 8px 8px;
    border: solid 1px grey;
    height: 187.5px;
    width: 30px;
    position: absolute;
    top: 0; left: 60px;
}
.black__key:active{
    box-shadow: inset 0 -10px 20px -10px white,
                inset 0 10px 10px -10px black;
}
.black__key:nth-child(2){
    position: absolute;
    top: 0; left: 139px;
}
.black__key:nth-child(3){
    position: absolute;
    top: 0; left: 292px;
}
.black__key:nth-child(4){
    position: absolute;
    top: 0; left: 369px;
}
.black__key:nth-child(5){
    position: absolute;
    top: 0; left: 447px;
}
.black__key:nth-child(6){
    position: absolute;
    top: 0; left: 601px;
}
.black__key:nth-child(7){
    position: absolute;
    top: 0; left: 678px;
}

